workflow/n8n_resume_analyzer_openai.json
{
  "name": "AI Resume Analyzer - OpenAI",
  "nodes": [
    {
      "parameters": {
        "formTitle": "AI Resume Analyzer",
        "formDescription": "Upload a text-based PDF resume and paste a job description. Use sanitized data for public demos.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Resume PDF",
              "fieldName": "resume_file",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": ".pdf",
              "requiredField": true
            },
            {
              "fieldLabel": "Target role",
              "fieldName": "target_role",
              "fieldType": "text",
              "placeholder": "e.g. Working Student AI Automation",
              "requiredField": true
            },
            {
              "fieldLabel": "Job description",
              "fieldName": "job_description",
              "fieldType": "textarea",
              "placeholder": "Paste the complete job description here",
              "requiredField": true
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {
          "buttonLabel": "Analyze resume",
          "respondWithOptions": {
            "values": {
              "respondWith": "text",
              "formSubmittedText": "Analysis completed. Inspect the final node output in n8n."
            }
          }
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.6,
      "position": [
        -820,
        120
      ],
      "id": "0fc4e129-253b-4364-b49f-acdecb1edee5",
      "name": "Resume Analyzer Form",
      "webhookId": "a2fe4868-303a-45ec-a5d6-196917166e7b"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "resume_file",
        "options": {
          "joinPages": true,
          "keepSource": "json",
          "maxPages": 0
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -560,
        120
      ],
      "id": "2e419715-5fda-45e1-9ebf-97b17952d703",
      "name": "Extract Resume Text"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst resumeText = String(input.text ?? '').trim();\nconst jobDescription = String(input.job_description ?? '').trim();\nconst targetRole = String(input.target_role ?? '').trim() || 'Not specified';\n\nif (!resumeText) {\n  throw new Error('No resume text was extracted. Use a text-based PDF; scanned PDFs require OCR.');\n}\nif (resumeText.length < 150) {\n  throw new Error(`Extracted resume text is too short (${resumeText.length} characters).`);\n}\nif (jobDescription.length < 80) {\n  throw new Error('Job description is too short for a meaningful comparison.');\n}\n\nreturn [{\n  json: {\n    ...input,\n    input_valid: true,\n    resume_text: resumeText,\n    job_description: jobDescription,\n    target_role: targetRole,\n  },\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -300,
        120
      ],
      "id": "816929a2-f68c-4d0e-a02f-f9bd5b6a4042",
      "name": "Validate Input"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the resume against the job description.\n\nTarget role:\n{{ $json.target_role }}\n\nJob description:\n{{ $json.job_description }}\n\nResume text:\n{{ $json.resume_text }}\n\nRules:\n1. Evaluate only information explicitly present in the resume and job description.\n2. Do not infer age, nationality, gender, health, ethnicity, religion, or other protected characteristics.\n3. Do not invent experience, tools, results, or qualifications.\n4. Treat missing skills as missing or under-documented resume evidence, not definitive candidate deficiencies.\n5. Use this score rubric: 0-40 major mismatch; 41-60 partial match; 61-75 reasonable match; 76-90 strong match; 91-100 exceptional documented match.\n6. Keep list items concise and actionable.\n7. Return only the fields required by the connected structured output parser.\n8. Set analysis_mode to \"openai\" and include a disclaimer that the result is an AI-assisted heuristic requiring human verification.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -20,
        120
      ],
      "id": "0eebec48-ec5e-45ec-ab5c-aab049a0dcac",
      "name": "Analyze Resume with AI"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "responsesApiEnabled": false,
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -80,
        360
      ],
      "id": "c6a67dfc-68af-4f3a-801b-c9b0e8ca0da5",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"analysis_mode\": {\n      \"type\": \"string\"\n    },\n    \"candidate_name\": {\n      \"type\": \"string\"\n    },\n    \"target_role\": {\n      \"type\": \"string\"\n    },\n    \"ats_score\": {\n      \"type\": \"number\"\n    },\n    \"professional_summary\": {\n      \"type\": \"string\"\n    },\n    \"matched_skills\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    },\n    \"missing_skills\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    },\n    \"strengths\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    },\n    \"weaknesses\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    },\n    \"recommended_actions\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    },\n    \"interview_questions\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    },\n    \"disclaimer\": {\n      \"type\": \"string\"\n    }\n  },\n  \"required\": [\n    \"analysis_mode\",\n    \"candidate_name\",\n    \"target_role\",\n    \"ats_score\",\n    \"professional_summary\",\n    \"matched_skills\",\n    \"missing_skills\",\n    \"strengths\",\n    \"weaknesses\",\n    \"recommended_actions\",\n    \"interview_questions\",\n    \"disclaimer\"\n  ],\n  \"additionalProperties\": false\n}",
        "autoFix": false
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        140,
        360
      ],
      "id": "a322ca5e-81d1-4ef2-9ab4-3d68cf055335",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nlet a = raw.output ?? raw;\nif (typeof a === 'string') {\n  try { a = JSON.parse(a); } catch { throw new Error('Analysis output is not valid JSON.'); }\n}\n\nconst list = value => Array.isArray(value) && value.length\n  ? value.map(item => `- ${item}`).join('\\n')\n  : '- None detected';\n\nconst report = `# Resume Analysis Report\n\n**Mode:** ${a.analysis_mode ?? 'openai'}  \n**Candidate:** ${a.candidate_name ?? 'Not reliably detected'}  \n**Target role:** ${a.target_role ?? 'Not specified'}  \n**ATS-style score:** ${a.ats_score ?? 'N/A'}/100\n\n## Summary\n\n${a.professional_summary ?? ''}\n\n## Matched skills\n\n${list(a.matched_skills)}\n\n## Missing or under-documented skills\n\n${list(a.missing_skills)}\n\n## Strengths\n\n${list(a.strengths)}\n\n## Weaknesses / resume gaps\n\n${list(a.weaknesses)}\n\n## Recommended actions\n\n${list(a.recommended_actions)}\n\n## Suggested interview questions\n\n${list(a.interview_questions)}\n\n---\n\n*${a.disclaimer ?? 'AI-assisted heuristic review; verify all claims manually.'}*`;\n\nreturn [{ json: { ...a, report_markdown: report } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        280,
        120
      ],
      "id": "10ed1fce-9c80-473b-8439-1b4a9af4b07d",
      "name": "Generate Markdown Report"
    },
    {
      "parameters": {
        "content": "## 1. Intake\nThe form receives a PDF resume, target role, and job description. Do not use private data in public screenshots.",
        "height": 180,
        "width": 350
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -850,
        -170
      ],
      "id": "43a4f776-e83d-4dce-b6d8-8c0ca3401c93",
      "name": "Intake Note"
    },
    {
      "parameters": {
        "content": "## 2. AI transformation\nA Basic LLM Chain is sufficient because the task is bounded. The Structured Output Parser enforces the JSON schema.",
        "height": 200,
        "width": 470
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -270,
        -170
      ],
      "id": "77ecda12-48e0-40ee-92f4-1c5bfdc28711",
      "name": "AI Note"
    },
    {
      "parameters": {
        "content": "## 3. Output\nThe final Code node converts structured JSON into a human-readable Markdown report.",
        "height": 180,
        "width": 330
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        260,
        -170
      ],
      "id": "6b3a59a5-d671-4463-8d52-c6ce3209cb2c",
      "name": "Output Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Resume Analyzer Form": {
      "main": [
        [
          {
            "node": "Extract Resume Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Resume Text": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Analyze Resume with AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Resume with AI": {
      "main": [
        [
          {
            "node": "Generate Markdown Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Analyze Resume with AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Analyze Resume with AI",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c5ad195d-d4d7-4e8b-8b78-a30e44676bcd",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}